iDiskClient/Service References/UserServices/metadata.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="Hch.iDisk.WCF.Contracts" elementFormDefault="qualified" targetNamespace="Hch.iDisk.WCF.Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:8888/userservice/metadata?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Hch.iDisk.Model" />
  <xs:element name="Register">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Hch.iDisk.Model" minOccurs="0" name="user" nillable="true" type="q1:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Hch.iDisk.Model" minOccurs="0" name="RegisterResult" nillable="true" type="q2:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Hch.iDisk.Model" minOccurs="0" name="user" nillable="true" type="q3:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Hch.iDisk.Model" minOccurs="0" name="LoginResult" nillable="true" type="q4:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserExist">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Hch.iDisk.Model" minOccurs="0" name="user" nillable="true" type="q5:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserExistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserExistResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Hch.iDisk.Model" minOccurs="0" name="user" nillable="true" type="q6:User" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Hch.iDisk.Model" minOccurs="0" name="admin" nillable="true" type="q7:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Hch.iDisk.Model" minOccurs="0" name="user" nillable="true" type="q8:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Hch.iDisk.Model" minOccurs="0" name="QueryUsersResult" nillable="true" type="q9:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryUserById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryUserByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Hch.iDisk.Model" minOccurs="0" name="QueryUserByIdResult" nillable="true" type="q10:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFrientTemp">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Hch.iDisk.Model" minOccurs="0" name="owner" nillable="true" type="q11:User" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Hch.iDisk.Model" minOccurs="0" name="friendTemp" nillable="true" type="q12:FriendTemp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFrientTempResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddFrientTempResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFriend">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Hch.iDisk.Model" minOccurs="0" name="owner" nillable="true" type="q13:User" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Hch.iDisk.Model" minOccurs="0" name="friend" nillable="true" type="q14:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFriendResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteFriendResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckFriends">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Hch.iDisk.Model" minOccurs="0" name="user" nillable="true" type="q15:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckFriendsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Hch.iDisk.Model" minOccurs="0" name="CheckFriendsResult" nillable="true" type="q16:ArrayOfFriendTempV" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckFriendsRefused">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Hch.iDisk.Model" minOccurs="0" name="user" nillable="true" type="q17:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckFriendsRefusedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Hch.iDisk.Model" minOccurs="0" name="CheckFriendsRefusedResult" nillable="true" type="q18:ArrayOfFriendTempV" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HandleFrind">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Hch.iDisk.Model" minOccurs="0" name="user" nillable="true" type="q19:User" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Hch.iDisk.Model" minOccurs="0" name="friend" nillable="true" type="q20:FriendTempV" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HandleFrindResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Hch.iDisk.Model" minOccurs="0" name="user" nillable="true" type="q21:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsAdminResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>