iDiskClient/Service References/UserServices/metadata2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Hch.iDisk.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Hch.iDisk.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element name="_uemail" nillable="true" type="xs:string" />
      <xs:element name="_uid" type="xs:int" />
      <xs:element name="_uloginname" nillable="true" type="xs:string" />
      <xs:element name="_upassword" nillable="true" type="xs:string" />
      <xs:element name="_urealname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
  <xs:complexType name="FriendTemp">
    <xs:sequence>
      <xs:element name="_confirmed" nillable="true" type="xs:boolean" />
      <xs:element name="_message" nillable="true" type="xs:string" />
      <xs:element name="_receiver" type="xs:int" />
      <xs:element name="_senderid" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FriendTemp" nillable="true" type="tns:FriendTemp" />
  <xs:complexType name="ArrayOfFriendTempV">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FriendTempV" nillable="true" type="tns:FriendTempV" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFriendTempV" nillable="true" type="tns:ArrayOfFriendTempV" />
  <xs:complexType name="FriendTempV">
    <xs:sequence>
      <xs:element name="_confirmed" type="xs:boolean" />
      <xs:element name="_message" nillable="true" type="xs:string" />
      <xs:element name="_receiver" type="xs:int" />
      <xs:element name="_receivername" nillable="true" type="xs:string" />
      <xs:element name="_senderid" type="xs:int" />
      <xs:element name="_sendername" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FriendTempV" nillable="true" type="tns:FriendTempV" />
</xs:schema>