iDiskClient/Service References/FileServices/metadata2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Hch.iDisk.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Hch.iDisk.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="File">
    <xs:sequence>
      <xs:element name="_dirid" nillable="true" type="xs:int" />
      <xs:element name="_fdate" nillable="true" type="xs:dateTime" />
      <xs:element name="_fdesc" nillable="true" type="xs:string" />
      <xs:element name="_fid" nillable="true" type="xs:string" />
      <xs:element name="_fname" nillable="true" type="xs:string" />
      <xs:element name="_fsize" nillable="true" type="xs:long" />
      <xs:element name="_furl" nillable="true" type="xs:string" />
      <xs:element name="_fuserid" type="xs:int" />
      <xs:element name="_fvisibility" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="File" nillable="true" type="tns:File" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element name="_uemail" nillable="true" type="xs:string" />
      <xs:element name="_uid" type="xs:int" />
      <xs:element name="_uloginname" nillable="true" type="xs:string" />
      <xs:element name="_upassword" nillable="true" type="xs:string" />
      <xs:element name="_urealname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfFile">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="File" nillable="true" type="tns:File" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFile" nillable="true" type="tns:ArrayOfFile" />
  <xs:complexType name="Dirtory">
    <xs:sequence>
      <xs:element name="_dirdesc" nillable="true" type="xs:string" />
      <xs:element name="_dirid" type="xs:int" />
      <xs:element name="_dirname" nillable="true" type="xs:string" />
      <xs:element name="_dirotories" nillable="true" type="tns:ArrayOfDirtory" />
      <xs:element name="_files" nillable="true" type="tns:ArrayOfFile" />
      <xs:element name="_parentdirid" nillable="true" type="xs:int" />
      <xs:element name="_uid" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Dirtory" nillable="true" type="tns:Dirtory" />
  <xs:complexType name="ArrayOfDirtory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Dirtory" nillable="true" type="tns:Dirtory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDirtory" nillable="true" type="tns:ArrayOfDirtory" />
</xs:schema>