iDiskFileServer/Service References/FSServices/metadata.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="Hch.iDisk.WCF.Contracts" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="Hch.iDisk.WCF.Contracts" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="Hch.iDisk.WCF.Contracts/Imports">
      <xsd:import schemaLocation="http://127.0.0.1:8888/fsservice/metadata?xsd=xsd0" namespace="Hch.iDisk.WCF.Contracts" />
      <xsd:import schemaLocation="http://127.0.0.1:8888/fsservice/metadata?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://127.0.0.1:8888/fsservice/metadata?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Hch.iDisk.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="UserService_CheckedUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckedUser" />
  </wsdl:message>
  <wsdl:message name="UserService_CheckedUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckedUserResponse" />
  </wsdl:message>
  <wsdl:message name="UserService_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="UserService_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="UserService_UpdateFileServer_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFileServer" />
  </wsdl:message>
  <wsdl:message name="UserService_UpdateFileServer_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFileServerResponse" />
  </wsdl:message>
  <wsdl:message name="UserService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="UserService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="UserService_AddFileList_InputMessage">
    <wsdl:part name="parameters" element="tns:AddFileList" />
  </wsdl:message>
  <wsdl:message name="UserService_AddFileList_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddFileListResponse" />
  </wsdl:message>
  <wsdl:message name="UserService_DeleteFile_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFile" />
  </wsdl:message>
  <wsdl:message name="UserService_DeleteFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFileResponse" />
  </wsdl:message>
  <wsdl:portType name="UserService">
    <wsdl:operation name="CheckedUser">
      <wsdl:input wsaw:Action="Hch.iDisk.WCF.Contracts/UserService/CheckedUser" message="tns:UserService_CheckedUser_InputMessage" />
      <wsdl:output wsaw:Action="Hch.iDisk.WCF.Contracts/UserService/CheckedUserResponse" message="tns:UserService_CheckedUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="Hch.iDisk.WCF.Contracts/UserService/Register" message="tns:UserService_Register_InputMessage" />
      <wsdl:output wsaw:Action="Hch.iDisk.WCF.Contracts/UserService/RegisterResponse" message="tns:UserService_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateFileServer">
      <wsdl:input wsaw:Action="Hch.iDisk.WCF.Contracts/UserService/UpdateFileServer" message="tns:UserService_UpdateFileServer_InputMessage" />
      <wsdl:output wsaw:Action="Hch.iDisk.WCF.Contracts/UserService/UpdateFileServerResponse" message="tns:UserService_UpdateFileServer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="Hch.iDisk.WCF.Contracts/UserService/Login" message="tns:UserService_Login_InputMessage" />
      <wsdl:output wsaw:Action="Hch.iDisk.WCF.Contracts/UserService/LoginResponse" message="tns:UserService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddFileList">
      <wsdl:input wsaw:Action="Hch.iDisk.WCF.Contracts/UserService/AddFileList" message="tns:UserService_AddFileList_InputMessage" />
      <wsdl:output wsaw:Action="Hch.iDisk.WCF.Contracts/UserService/AddFileListResponse" message="tns:UserService_AddFileList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFile">
      <wsdl:input wsaw:Action="Hch.iDisk.WCF.Contracts/UserService/DeleteFile" message="tns:UserService_DeleteFile_InputMessage" />
      <wsdl:output wsaw:Action="Hch.iDisk.WCF.Contracts/UserService/DeleteFileResponse" message="tns:UserService_DeleteFile_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>